:root {
    --bg: #19273a;
    --primary: #497bbf;
}

/* content */

.content {
    width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
    
}


.content .card {
    cursor: pointer;
    width: 20rem;
    height: 10rem;
    margin: 0 1rem 2rem 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    transition: 1s;
}

.content .card:hover {
    width: 25rem;
    height: 15rem;
}

.content .card .card-angka {
    height: 75%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
    align-content: center;
}

.content .card .card-angka h3 {
    font-weight: bold;
    color: #fff;
}

.content .card .card-title {
    text-align: center;
    height: 25%;
    width: 100%;
    padding-top: 1rem;
}

.content .card .card-title h6 {
    font-weight: bold;
    color: var(--primary);
}
